body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: green;
}

h1 {
    color: #333;
    background-color: brown;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    width: 60%;
    font-size: 50px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

h2 {
    color: #555;
    text-align: center;
    font-size: 35px;
    nav-up: auto;
}

p {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    margin-top: 20px;
}

img.room-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.hotspring-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.meal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: brown;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}